<div>
    <div class="ui large vertical inverted red pointing menu vertical-menu fluid">
        <a class="item" [routerLink]="['profile']">
            <i class="user icon"></i>
            Profile
        </a>
        <a class="item" [routerLink]="['user-books']">
            <i class="book icon"></i>
            Books
        </a>
        <a class="item"[routerLink]="['activities']">
            <i class="smile icon"></i>
            Activities
        </a>
        <a class="item"[routerLink]="['settings']">
            <i class="setting icon"></i>
            Settings
        </a>
    </div>
</div>