<div class="background">
    <form>
        <div class="ui raised card login-form">
            <div class="content">
                <div class="header">Login</div>
                <div class="ui form">
                    <table align="center">
                        <tr>
                            <td><i class="fas fa-user icon"></i></td>
                            <td><input [(ngModel)]="loginUserData.username" type="text" name="email" id="" placeholder="username" required></td>
                        </tr>
                        <tr>
                            <td><i class="fas fa-lock icon"></i></td>
                            <td><input [(ngModel)]="loginUserData.password" type="password" name="password" id="" placeholder="password" required></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="extra content">
                <button (click)="login()" type="submit" class="ui green button login-button">Sign in</button>
            </div>
        </div>
    </form>
</div>
