<div class="background-image"></div>
<div class="background-text">
    <form>
        <div class="ui raised card register-form">
            <div class="content">
                <div class="header">Register</div>
                <div class="ui form">
                    <table align="center">
                        <tr>
                            <td><i class="fas fa-envelope"></i></td>
                            <td><input [(ngModel)]="loginRegisterData.email" type="text" placeholder="Email"></td>
                        </tr>
                        <tr>
                            <td><i class="fas fa-users"></i></td>
                            <td><input [(ngModel)]="loginRegisterData.username" type="text" placeholder="Username"></td>
                        </tr>
                        <tr>
                            <td><i class="fas fa-lock"></i></td>
                            <td><input [(ngModel)]="loginRegisterData.password" type="password" placeholder="Password"></td>
                        </tr>
                        <tr>
                            <td><i class="fas fa-unlock"></i></td>
                            <td><input [(ngModel)]="loginRegisterData.repassword" type="password" placeholder="Confirm password"></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="extra content">
                <button (click)="register()" type="submit" class="ui primary button register-button">Register</button>
            </div>
        </div>
    </form>
</div>
