.register-form{
    margin: auto;
    padding: 10px;
    width: 30%;
}

.register-button{
    margin:auto;
    display:block;
}

.background-image {
    background-image: url("../../../assets/images/login-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    filter: blur(3px);
    -webkit-filter: blur(3px);
}

.background-text {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 50%;
}

i {
    padding-right: 10px; 
}