<div class="ui card">
    <div class="ui small image">
        <img src="assets/images/book-default-image.png">
    </div>
    <div class="ui content">
        <a class="header">{{book.title}}</a>
        <div class="meta">
            <span class="date">{{book.author}}</span>
        </div>
        <div class="description">

        </div>
    </div>
    <div class="extra content">
        <div class="ui two buttons">
            <div class="ui basic green button">Rent</div>
            <div class="ui basic red button">Review</div>
        </div>
    </div>
</div>