<div class="ui inverted menu">
    <div class="container">
        <img class="logo" src="assets/images/bigin-logo.png" alt="">
        <div class="ui inverted right menu" *ngIf="!userAuthorizationService.checkAuthorization()">
            <a class="ui item menu-item" [routerLink]="['/']">HOME</a>
            <a class="ui item menu-item" [routerLink]="['/']">ABOUT</a>
            <a class="ui item menu-item" [routerLink]="['/login']">LOGIN</a>
            <a class="ui item menu-item" [routerLink]="['/register']"><button class="ui inverted purple button">SIGN
                    UP</button></a>
        </div>

        <div class="ui inverted right menu" *ngIf="userAuthorizationService.checkAuthorization()">
            <a class="ui item menu-item" (click)="logout()">LOGOUT</a>
            <div class="ui dropdown item">
                blah <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item">English</a>
                    <a class="item">Russian</a>
                    <a class="item">Spanish</a>
                </div>
            </div>
        </div>
    </div>

</div>