<div class="book-list">
    <button id="add-book" class="ui primary right floated button">
        <i class="plus icon"></i>
        Add book
    </button>
    <div class="ui divided items">
        <div class="item" *ngFor="let book of books">
            <div class="ui tiny image">
                <img src="assets/images/book-default-image.png">
            </div>
            <div class="middle aligned content book-info">
                <div class="header">{{book.title}}</div>
                <div class="meta">{{book.author}}</div>
                <div class="extra">
                    <div class="ui green button">Edit</div>
                    <div class="ui red button">Delete</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui basic modal">
    <div class="ui icon header">
        <i class="archive icon"></i>
        Archive Old Messages
    </div>
    <div class="content">
        <p>Your inbox is getting full, would you like us to enable automatic archiving of old messages?</p>
    </div>
    <div class="actions">
        <div class="ui red basic cancel inverted button">
            <i class="remove icon"></i>
            No
        </div>
        <div class="ui green ok inverted button">
            <i class="checkmark icon"></i>
            Yes
        </div>
    </div>
</div>