<div>
    <i class="close icon" (click)="onClose()"></i>
    <h4>Add book</h4>
    <mat-form-field>
        <input matInput placeholder="Book Name">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Book Author">
    </mat-form-field>

    <div class="actions">
        <button class="ui black deny button" (click)="onSubmit()">
            Nope
        </button>
        <div class="ui positive right labeled icon button">
            Yep, that's me
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>