<div class="ui container">
    <p>login works!</p>
    <form action="" method="post" class="ui form">
        <div class="login-content">
            <h1>Login</h1>
            <table align="center" class="ui red table" id="login-table">
                <tr>
                    <td>Username</td>
                    <td><input type="text" name="" id=""></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="password" name="" id=""></td>
                </tr>
            </table>
            <div class="login-button">
                <button class="ui primary basic button" type="submit">Sign in</button>
                <a href="">Register</a>
            </div>
        </div>
    </form>
</div>
